/* Navigation */
.navbar-brand {
    margin-left: 1%;
    font-size: 1.5rem;
}
.navbar-brand > small {
    font-size: 50%;
}


/* Home Page customization */
.progress.progress-dark {
    background-color: #e4e4e4;
    border: 1px solid #d6d6d6;
    height: 25px;
}

/* Iconography */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
