/* Navigation */
.navbar-brand {
    margin-left: 1%;
    font-size: 1.5rem;
}
.navbar-brand > small {
    font-size: 50%;
}

/* Common Elements customization */
svg {
    max-width: 100%;
}

h4 > code {
    color: white;
}

.darkaqua {
    background: #1d2125!important;
}

i.material-icons.md-light {
    font-size: 0.8em;
}

.jumbotron.lightaqua{
    background-color: rgb(124, 152, 174);
}

.statcards {
    margin: 1% 0;
    background-color: rgb(124, 152, 174);
    padding: 2.5% 1.5%;
    border-radius: 5px;
    color: white;
}

.statcards-header{
    font-size:0.7em;
    color: white;
    font-weight: bolder; 
    text-transform:uppercase  
}

.statcards-count {
    font-size: 1.4em;
    margin: 5% 3% 5% 0;
}

.statcards-count-p {
    margin-left: 3%;
    font-size: 2em;
    font-weight:bolder;
}

.statsupport {
    font-size:0.7em;
    line-height: 0;
    font-weight: 300;
    margin-left: 11%
}

.plot-area > .plot {
    vertical-align: middle;
    text-align: center;
    min-width: 100%;
    max-width: 100%;
    margin: 5% auto;
    overflow: auto;
}

/* Home Page customization */
.progress.progress-dark {
    background-color: #e4e4e4;
    border: 1px solid #d6d6d6;
    height: 25px;
}

.table-striped tbody tr:nth-of-type(odd){
    background-color: #e8ecef;
}

/* Accomplishment Page customization */
ul.timeline, ul.timeline-sub {
    list-style-type: none;
    position: relative;
}

ul.timeline-sub {
    padding: 1% 0;
}

.timeline-sub > li > i.material-icons {
    font-size: 1.2em;
    margin-right: 1%;
    vertical-align: middle;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.response-card {
    margin: 1%;
    padding: 3%;
}

.response-card > ul {
    list-style: none;
}
.response-card > ul {
    list-style: none;
    padding-left: 5%;
    font-size: 0.8em;
    color: white;
}

.response-card > ul > li > i.material-icons {
    font-size: 0.8em;
    margin-right: 2%;
}

.card.response-card {
    background: #7893a8;
}

p.card-text {
    color: white;
    font-weight: bolder;
}

.blockquote-footer {
    color: #273f52;
}


/* Iconography */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Aqua Skin customization */
body{
    background: #202122;
}

h2, h3, h4 {
    color: white;
}

tr {
    color: rgb(195, 218, 239);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(19, 25, 31, 0.3);
    color: rgba(255, 255, 255, 0.6);
}

.badge-dark {
    background-color: #75b3cacc;
    padding: 0.5% 1%;
}

.display-4 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
    color: white;
}

.lead {
    color: white
}

.jumbotron {
    background-color: rgba(216, 241, 253, 0.4);
}

.jumbo-mini {
    padding: 2rem;
    margin: 2rem 0;
}

.jumbotron ul, .jumbotron p, .jumbotron small {
    color: white;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: #b5bdc8;
    background: -moz-linear-gradient(top, #1b1b1b 0%, #436382 36%, #203644 100%);
    background: -webkit-linear-gradient(top, #1b1b1b 0%,#436382 36%,#203644 100%);
    background: linear-gradient(to bottom, #1b1b1b 0%,#436382 36%,#203644 100%);
}
