<div class="card response-card">
    <div class="row" style="text-transform: capitalize;">
        <div class="col-sm-6">
            <h5 class="card-text">{{ review['workshop_name'] }}</h5>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="card-text">{{ review['overall'] }}</h5>
                    <h6 class="card-text">Ratings</h6>
                </div>
                {% if review['sentiment'] == 'negative'%}
                    <div class="col-md-6" style="color: #FFA07A">
                        <h5 class="card-text" >{{ review['value'] }}%</h5>
                        <h6 class="card-text">{{ review['sentiment'] }}</h6>
                    </div>
                {% elif review['sentiment'] == 'neutral'%}
                    <div class="col-md-6" style="color: #FFDEAD">
                        <h5 class="card-text">{{ review['value'] }}%</h5>
                        <h6 class="card-text">{{ review['sentiment'] }}</h6>
                    </div>
                {% else %}
                    <div class="col-md-6" style="color: #E0FFFF">
                        <h5 class="card-text">{{ review['value'] }}%</h5>
                        <h6 class="card-text">{{ review['sentiment'] }}</h6>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <hr/>
    <h6>Sentiment:</h6>
    <div class="row" style="text-align: center">
        <div class="col-sm-12">
            <div class="card-group">
                {% for idx, data in personstats['monyear_percent'].iterrows() %}
                    {% if data['workshop_id'] == review['workshop_id'] %}
                        {% if data['score'] == 'negative'%}
                            <div class="card response-card" style="background-color: #e41749; color: #FFFFF0">
                                <p class="card-text">{{ data['value'] }}%</p>
                            </div>
                        {% elif data['score'] == 'neutral'%}
                            <div class="card response-card" style="background-color: orange; color: #FFFFF0">
                                <p class="card-text">{{ data['value'] }}%</p>
                            </div>
                        {% else %}
                            <div class="card response-card" style="background-color: steelblue; color: #FFFFF0">
                                <p class="card-text">{{ data['value'] }}%</p>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <hr/>
    <h6>Reviews:</h6>
    {% for comments in personstats['qualitative'].items %}
        {% if (comments['workshop_id'] == review['workshop_id'])%}
            <p class="card-text">{{comments['comments']}}</p>
            <footer class="blockquote-footer">
                <small>Student from {{ comments['workshop']}}</small>
            </footer>
            <hr/>
        {% endif %}
    {% endfor %}
</div>