{% extends "base.html" %}

{% block content %}
    <p>You're looking at performance metrics for: 
        {{ employee.email }}, joined on {{ employee.join_date }}</p>

    <h2>Students</h2>
    <h4>Total Number of Students:</h4>    
    {{ totalstud }}
    
    <h4>Total Number of Hours:</h4>    
    {{ totalhours }}
    <hr>
    

    <h4>Category Breakdown</h4>
    {% for gr in grped %}
        {{ gr }}: {{ grped[gr]['count'] }} | {{ (grped[gr]['students']) }} students. <br>
    {% endfor %}
    
    <hr>

    <h2>Workshop Timeline</h2>
    {% for workshop in workshops %}
        <div>
            {{ workshop.workshop_start }}<br>    
            {{ workshop.workshop_name }}: <b> {{ workshop.workshop_category }}</b> <br/>
            <small> {{ workshop.workshop_venue }} | {{ workshop.class_size }} students | {{ workshop.workshop_hours }} hours </small>
        </div>
        <br>
    {% endfor %}

    <hr>

    <h2>Notable Comments</h2>
    {% for response in responses %}
            {{ response.satisfaction_score }} | {{ response.comments }}<br/>
    {% endfor %}
    
    <hr>

{% endblock %}
