{% extends "base.html" %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega/3.3.1/vega.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/2.6.0/vega-lite.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/3.20.0/vega-embed.min.js"></script>

    <div class="jumbotron white">
        <h2><i class="material-icons md-dark">insert_chart</i> Team Analytics </h2>
        <div class="row">
            <div class="col-md-12 col-lg-7 col-sm-12">
                <div id="vis_team_1"></div>
                <div class="mt-4">
                    {{ instructorstats['delta_12m'] | safe }}
                </div>
            </div>
            <div class="col-md-12 col-lg-5 col-sm-12">
                <table class="table table-bordered leadinst_table">
                    <caption>Last updated {{ instructorstats.updatewhen }}</caption>
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Individual</th>
                        <th scope="col">Remark</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Most Prolific</th>
                            <td>
                                {% for inst in instructorstats['max_6mths'] %}
                                <span class="instructor btn-info">{{ inst }}</span>
                                {% endfor %}
                            </td>
                            <td>{{ instructorstats.max_wh }} workshop(s) in the last 6 months</td>
                        </tr>
                        <tr>
                            <th scope="row">Training Camp</th>
                            <td>
                                {% for inst in instructorstats['min_6mths'] %}
                                <span class="instructor btn-secondary">{{ inst }}</span>
                                {% endfor %}
                            </td>
                            <td>{{ instructorstats.min_wh }} workshop(s) in the last 6 months</td>
                        </tr>
                        <tr>
                            <th scope="row">Steepest Ascent</th>
                            <td>
                                {% for inst in instructorstats['max_diff'] %}
                                <span class="instructor btn-success">{{ inst }}</span>
                                {% endfor %}
                            </td>
                            <td>{{ instructorstats.max_diff_n }} difference compared to previous period</td>
                        </tr>    
                        <tr>
                            <th scope="row">Steepest Descent</th>
                            <td>
                                {% for inst in instructorstats['min_diff'] %}
                                <span class="instructor btn-danger">{{ inst }}</span>
                                {% endfor %}
                            </td>
                            <td>{{ instructorstats.min_diff_n }} difference compared to previous period</td>
                        </tr>
                        <tr>
                            <th scope="row">Testing Multiple</th>
                            <td>
                                {% for inst in instructorstats['testing'] %}
                                    <span class="instructor btn-warning">{{ inst }}</span>
                                {% endfor %}
                            </td>
                            <td>Purely for testing front-end code.</td>
                        </tr>
                        <tr>
                            <th scope="row">Recommendations</th>
                            <td colspan="2">
                                <!-- Move into separate template and inherit from -->
                                {% include "sub/recommendations.html" %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="vis_team_2"></div>
            </div>
            
            <div class="col-md-12 col-lg-7 col-sm-12">
                
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function parse(url, div) {
            var opt = {
              mode: "vega-lite",
              renderer: "svg",
              actions: {export: false, source: false, editor: false}
            }; 
    
            vegaEmbed(div, url, opt).then(function(result) {
              // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
            }).catch(console.error);
        }
        parse("/data/team_leadinst_line", "#vis_team_1")
        parse("/data/team_sentiment", "#vis_team_2")
    
        document.querySelector('table.table_12m > thead').setAttribute('class', 'thead-light');
    </script>
{% endblock %}