<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Import Vega 4 & Vega-Lite 2 (does not have to be from CDN) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega/3.3.1/vega.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/2.6.0/vega-lite.js"></script>
    <!-- Import vega-embed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/3.20.0/vega-embed.min.js"></script>
</head>
              
<body>
    <div id="vis"></div>
    <div class="bar"></div>
    <div class="container">

        <!--<div class="waterfall" id="waterfall"></div><hr>
        <div class="row"><div id="line"></div></div><hr>
        <div class="row"><div id="multiline"></div></div><hr>
        <div class="row"><div id="stocks"></div></div><hr>
        <div class="row"><div id="scatter"></div></div><hr>-->
        <!-- Placeholder for the tooltip -->
    </div>
    <!-- Render Charts -->

    <script type="text/javascript">
        function parse(url, div) {
            var opt = {
              mode: "vega-lite",
              renderer: "svg",
              actions: {export: true, source: false, editor: false}
            }; 
        //var spec = "https://raw.githubusercontent.com/vega/vega/master/docs/examples/bar-chart.vg.json";
    
            vegaEmbed('#vis', url, opt).then(function(result) {
              // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
            }).catch(console.error);
        }
        parse("/data/bar", "bar")
    </script>

  </body>
</html>
