{% extends "base.html" %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega/3.3.1/vega.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/2.6.0/vega-lite.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/3.20.0/vega-embed.min.js"></script>

    <div class="plot" id="multi1"></div> 
    <div class="bar" id="vis1"></div>
    <div class="bar" id="vis2"></div>

    <script type="text/javascript">
        function parse(url, div) {
            var opt = {
              mode: "vega-lite",
              renderer: "svg",
              actions: {export: true, source: false, editor: false}
            }; 
        //var spec = "https://raw.githubusercontent.com/vega/vega/master/docs/examples/bar-chart.vg.json";
    
            vegaEmbed(div, url, opt).then(function(result) {
              // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
            }).catch(console.error);
        }
        parse("/data/mediumos", "#vis1")
        parse("/data/studentprof", "#vis2")
        parse("/data/instructor_breakdown", "#multi1")
    </script>

{% endblock %}
