{% extends "base.html" %}

{% block content %}
    <script src=" {{ url_for('static', filename='js/vega.min.js') }} "></script>
    <script src=" {{ url_for('static', filename='js/vega-lite.js') }} "></script>
    <script src=" {{ url_for('static', filename='js/vega-embed.min.js') }} "></script>

    <div class="plot" id="vis_home_1"></div>

    {% if current_user.is_authenticated %}
        <h3>You're currently logged in as {{ current_user.email }}</h3>
    {% endif %}
    
    {% for workshop in workshops %}
            <p>{{ workshop.name }}: {{ workshop.instructor  }}</p> <br/>
    {% endfor %}
    <div class="plot" id="vis_home_2"></div>

    <script type="text/javascript">
        function parse(url, div) {
            var opt = {
              mode: "vega-lite",
              renderer: "svg",
              actions: {export: true, source: false, editor: false}
            }; 
        //var spec = "https://raw.githubusercontent.com/vega/vega/master/docs/examples/bar-chart.vg.json";
    
            vegaEmbed(div, url, opt).then(function(result) {
              // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
            }).catch(console.error);
        }
        parse("/data/punchcode", "#vis_home_1")
        parse("/data/accum_global", "#vis_home_2")
    </script>

{% endblock %}