{% extends "base.html" %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega/3.3.1/vega.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/2.6.0/vega-lite.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/3.20.0/vega-embed.min.js"></script>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-10 col-lg-6 col-sm-10">
                <h1 class="display-4">{{ stats['students'] }} Students</h1>
                <p class="lead">Pedagogy is a performance management tool for education professionals.</p>
                <ul>
                    <li>Conducted <span class="badge badge-dark">{{ stats['workshops'] }}</span> workshops</li>
                    <li>Clocked <span class="badge badge-dark">{{ stats['studenthours'] }}</span> hours of training</li>
                    <li>Employed by <span class="badge badge-dark">{{ stats['companies'] }}</span> companies for training</li>
                    <li>A task force of <span class="badge badge-dark">{{ stats['instructors'] }}</span> emphathetic instructors</li>
                </ul>
                <!-- <div class="progress progress-dark mt-2">
                    <div class="progress-bar bg-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100">{{ stats['progress'] }}%</div>
                </div> -->
            </div>
            <div class="col-md-10 col-lg-5 offset-lg-1 col-sm-10  mt-2">
                <div class="plot" id="vis_home_jumbo"></div>
            </div>
        </div>
        <hr class="mt-4 col-md-12">
        {% if g.employee is none %}
            <small>You're not currently registered as an instructor.</small>
        {% else %}
            <p> You're currently logged in as {{ g.employee.email }}</p>
            <a class="btn btn-dark btn-sm" href="{{  url_for('accomplishment') }}" role="button">Accomplishment</a>
            <a class="btn btn-secondary btn-sm" href="{{  url_for('analytics') }}" role="button">Analytics</a>
        {% endif %}                
    </div>
    <div class="row">
            <div class="col-md-10 col-lg-5 col-sm-10">
                <h2>Leaderboard</h2>
                <div class="mt-4">
                    {{ stats['topten'] | safe }}
                </div>
            </div>
            <div class="col-md-10 col-lg-7 col-sm-10">
                <div class="plot-area">
                    <div class="plot" id="vis_home_1"></div>
                </div>
            </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-10 col-lg-5 col-sm-10">
            <div class="jumbotron jumbo-mini">
                <h2>Hours by Category</h2>
                <div class="plot" id="vis_home_3"></div>
                <hr>
                {% if g.employee is none %}
                <h2><i class="large material-icons">lock</i> Personal Statistics</h2>  
                <div>
                    <p>You're not currently registered as an instructor.</p>
                    <p>As an instructor, you unlock detailed performance statistics under the Accomplishment page:</p>        
                    <ul>
                        <li>Personal Accomplishments</li>
                        <li>Accumulative Statistics</li>
                        <li>Key Milestones</li>
                        <li>Performance Indicators</li>
                        <li>Student Reviews</li>
                    </ul>
                </div>
                {% else %}
                <h2><i class="large material-icons">insert_chart_outlined</i> Personal Statistics</h2>
                    <p>You're currently logged in as {{ g.employee.email }}</p>
                    <a class="btn btn-dark btn-sm" href="{{  url_for('accomplishment') }}" role="button">Accomplishment</a>
                    <a class="btn btn-secondary btn-sm" href="{{  url_for('analytics') }}" role="button">Analytics</a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-10 col-lg-7 col-sm-10 mt-4">
            <div class="plot-area">
                <div class="plot" id="vis_home_2"></div>                
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function parse(url, div) {
            var opt = {
              mode: "vega-lite",
              renderer: "svg",
              actions: {export: false, source: false, editor: false}
            }; 
        //var spec = "https://raw.githubusercontent.com/vega/vega/master/docs/examples/bar-chart.vg.json";
    
            vegaEmbed(div, url, opt).then(function(result) {
              // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
            }).catch(console.error);
        }
        parse("/data/accum_global_line", "#vis_home_jumbo")
        parse("/data/punchcode", "#vis_home_1")
        parse("/data/accum_global", "#vis_home_2")
        parse('/data/category_bars', '#vis_home_3')
    </script>

{% endblock %}