{% extends "base.html" %}


{% block content %}
    <p>You're looking at performance metrics for ({{ employee.id }}): 
        {{ employee.email }}, <br/> joined on {{ employee.join_date }}</p>

    <h2>Category Breakdown</h2>

    {% for gr in grped %}
        {{ gr }}: {{ grped[gr]['count'] }} | {{ (grped[gr]['students']) }} students. <br>
    {% endfor %}
    
    <hr>

    <h2>Workshop Timeline</h2>
    {% for workshop in workshops %}
        <div>
            {{ workshop.workshop_start }}<br>    
            {{ workshop.workshop_name }}: <b> {{ workshop.workshop_category }}</b> <br/>
            <small> {{ workshop.workshop_venue }} | {{ workshop.class_size }} </small>
        </div>
        <br>
    {% endfor %}

    <hr>

    <h2>Notable Comments</h2>
    {% for response in responses %}
            {{ response.satisfaction_score }} | {{ response.comments }}<br/>
    {% endfor %}
    
    <hr>

    



{% endblock %}
